<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmair.core.mapper.framedb.EmpDataMapper">
  <resultMap id="BaseResultMap" type="com.xmair.core.entity.framedb.EmpData">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="MF_ID" jdbcType="VARCHAR" property="mfId" />
    <result column="EMP_TYPE" jdbcType="VARCHAR" property="empType" />
    <result column="TYPEID" jdbcType="VARCHAR" property="typeid" />
    <result column="E0122" jdbcType="VARCHAR" property="e0122" />
    <result column="UNIT_NAME" jdbcType="VARCHAR" property="unitName" />
    <result column="DEP_NAME" jdbcType="VARCHAR" property="depName" />
    <result column="OFFICE_NAME" jdbcType="VARCHAR" property="officeName" />
    <result column="EMP_SID" jdbcType="DECIMAL" property="empSid" />
    <result column="ARCH_ID" jdbcType="VARCHAR" property="archId" />
    <result column="CN_NAME" jdbcType="VARCHAR" property="cnName" />
    <result column="SMPL_NAME" jdbcType="VARCHAR" property="smplName" />
    <result column="FULL_NAME" jdbcType="VARCHAR" property="fullName" />
    <result column="GENDER" jdbcType="VARCHAR" property="gender" />
    <result column="NATIONALITY" jdbcType="VARCHAR" property="nationality" />
    <result column="BIRTHDAY" jdbcType="TIMESTAMP" property="birthday" />
    <result column="AGE" jdbcType="DECIMAL" property="age" />
    <result column="STU_ORIGIN" jdbcType="VARCHAR" property="stuOrigin" />
    <result column="NATIVE_PLACE" jdbcType="VARCHAR" property="nativePlace" />
    <result column="HOUSE_BOOK" jdbcType="VARCHAR" property="houseBook" />
    <result column="HOUSE_BOOOK_TYPE" jdbcType="VARCHAR" property="houseBoookType" />
    <result column="WORK_DATE" jdbcType="TIMESTAMP" property="workDate" />
    <result column="ENTR_MF_DATE" jdbcType="TIMESTAMP" property="entrMfDate" />
    <result column="BONUS_CARD_PLACE" jdbcType="VARCHAR" property="bonusCardPlace" />
    <result column="ENROLL_FROM" jdbcType="VARCHAR" property="enrollFrom" />
    <result column="CATALOG_TYPE" jdbcType="VARCHAR" property="catalogType" />
    <result column="JOB_WAIT_ID" jdbcType="VARCHAR" property="jobWaitId" />
    <result column="ID_CARD" jdbcType="VARCHAR" property="idCard" />
    <result column="QUIT_DATE" jdbcType="TIMESTAMP" property="quitDate" />
    <result column="SPCL_MEMO" jdbcType="VARCHAR" property="spclMemo" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="CTRCT_TYPE" jdbcType="VARCHAR" property="ctrctType" />
    <result column="CTRCT_FROM_DATE" jdbcType="TIMESTAMP" property="ctrctFromDate" />
    <result column="CTRCT_EXPR_DATE" jdbcType="TIMESTAMP" property="ctrctExprDate" />
    <result column="ABORNAL_MEMO" jdbcType="VARCHAR" property="abornalMemo" />
    <result column="JOB_TYPE" jdbcType="VARCHAR" property="jobType" />
    <result column="JOB_TIME" jdbcType="VARCHAR" property="jobTime" />
    <result column="CTRCT_PLACE" jdbcType="VARCHAR" property="ctrctPlace" />
    <result column="DIPLOMA_TYPE" jdbcType="VARCHAR" property="diplomaType" />
    <result column="DEGREE" jdbcType="VARCHAR" property="degree" />
    <result column="GRADUATE_DATE" jdbcType="TIMESTAMP" property="graduateDate" />
    <result column="SPCL_ORIENTATION" jdbcType="VARCHAR" property="spclOrientation" />
    <result column="GRADUTE_SCHOOL" jdbcType="VARCHAR" property="graduteSchool" />
    <result column="CERT_NO" jdbcType="VARCHAR" property="certNo" />
    <result column="STUDY_TYPE" jdbcType="VARCHAR" property="studyType" />
    <result column="DUTY_NAME" jdbcType="VARCHAR" property="dutyName" />
    <result column="DUTY_DATE" jdbcType="TIMESTAMP" property="dutyDate" />
    <result column="MGMT_LEVEL" jdbcType="VARCHAR" property="mgmtLevel" />
    <result column="WHEN_IN_DUTY" jdbcType="VARCHAR" property="whenInDuty" />
    <result column="IN_DUTY_DOCNO" jdbcType="VARCHAR" property="inDutyDocno" />
    <result column="DUTY_EXPR_DATE" jdbcType="TIMESTAMP" property="dutyExprDate" />
    <result column="MGMT_LEVEL_NO" jdbcType="VARCHAR" property="mgmtLevelNo" />
    <result column="QA_IN_DUTY" jdbcType="VARCHAR" property="qaInDuty" />
    <result column="PRFTNL_NAME" jdbcType="VARCHAR" property="prftnlName" />
    <result column="PRFTNL_DATE" jdbcType="TIMESTAMP" property="prftnlDate" />
    <result column="PRFTNL_TYPE" jdbcType="VARCHAR" property="prftnlType" />
    <result column="PRFTNL_SERIAL" jdbcType="VARCHAR" property="prftnlSerial" />
    <result column="WORK_POST" jdbcType="VARCHAR" property="workPost" />
    <result column="POST_TYPE" jdbcType="VARCHAR" property="postType" />
    <result column="POST_ID" jdbcType="VARCHAR" property="postId" />
    <result column="PARTY_TYPE" jdbcType="VARCHAR" property="partyType" />
    <result column="PARTY_ENTR_DATE" jdbcType="TIMESTAMP" property="partyEntrDate" />
    <result column="QA_JOB_TYPE" jdbcType="VARCHAR" property="qaJobType" />
    <result column="QA_JOB_LEVEL" jdbcType="VARCHAR" property="qaJobLevel" />
    <result column="QA_DATE" jdbcType="TIMESTAMP" property="qaDate" />
    <result column="RETIRE_DATE" jdbcType="TIMESTAMP" property="retireDate" />
    <result column="RE_WORK_DATE" jdbcType="TIMESTAMP" property="reWorkDate" />
    <result column="CONTACT" jdbcType="VARCHAR" property="contact" />
    <result column="RECRUIT_POST" jdbcType="VARCHAR" property="recruitPost" />
    <result column="ARMS_SPCL" jdbcType="VARCHAR" property="armsSpcl" />
    <result column="PLAN_RPT_DATE" jdbcType="VARCHAR" property="planRptDate" />
    <result column="PLAN_RPT_CITY" jdbcType="VARCHAR" property="planRptCity" />
    <result column="PLAN_RPT_FLT_NO" jdbcType="VARCHAR" property="planRptFltNo" />
    <result column="PLAN_RPT_FLT_DATE" jdbcType="TIMESTAMP" property="planRptFltDate" />
    <result column="PLAN_ID" jdbcType="VARCHAR" property="planId" />
    <result column="RECRUIT_TYPE_MEMO" jdbcType="VARCHAR" property="recruitTypeMemo" />
    <result column="EKP_MAIN" jdbcType="VARCHAR" property="ekpMain" />
    <result column="DORM_ADDR" jdbcType="VARCHAR" property="dormAddr" />
    <result column="RPT_PROGRESS_MEMO" jdbcType="VARCHAR" property="rptProgressMemo" />
    <result column="TRAINING_STATUS" jdbcType="VARCHAR" property="trainingStatus" />
    <result column="POST_ALL" jdbcType="VARCHAR" property="postAll" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    MF_ID, EMP_TYPE, TYPEID, E0122, UNIT_NAME, DEP_NAME, OFFICE_NAME, EMP_SID, ARCH_ID, 
    CN_NAME, SMPL_NAME, FULL_NAME, GENDER, NATIONALITY, BIRTHDAY, AGE, STU_ORIGIN, NATIVE_PLACE, 
    HOUSE_BOOK, HOUSE_BOOOK_TYPE, WORK_DATE, ENTR_MF_DATE, BONUS_CARD_PLACE, ENROLL_FROM, 
    CATALOG_TYPE, JOB_WAIT_ID, ID_CARD, QUIT_DATE, SPCL_MEMO, MEMO, CTRCT_TYPE, CTRCT_FROM_DATE, 
    CTRCT_EXPR_DATE, ABORNAL_MEMO, JOB_TYPE, JOB_TIME, CTRCT_PLACE, DIPLOMA_TYPE, DEGREE, 
    GRADUATE_DATE, SPCL_ORIENTATION, GRADUTE_SCHOOL, CERT_NO, STUDY_TYPE, DUTY_NAME, 
    DUTY_DATE, MGMT_LEVEL, WHEN_IN_DUTY, IN_DUTY_DOCNO, DUTY_EXPR_DATE, MGMT_LEVEL_NO, 
    QA_IN_DUTY, PRFTNL_NAME, PRFTNL_DATE, PRFTNL_TYPE, PRFTNL_SERIAL, WORK_POST, POST_TYPE, 
    POST_ID, PARTY_TYPE, PARTY_ENTR_DATE, QA_JOB_TYPE, QA_JOB_LEVEL, QA_DATE, RETIRE_DATE, 
    RE_WORK_DATE, CONTACT, RECRUIT_POST, ARMS_SPCL, PLAN_RPT_DATE, PLAN_RPT_CITY, PLAN_RPT_FLT_NO, 
    PLAN_RPT_FLT_DATE, PLAN_ID, RECRUIT_TYPE_MEMO, EKP_MAIN, DORM_ADDR, RPT_PROGRESS_MEMO, 
    TRAINING_STATUS, POST_ALL
  </sql>
</mapper>