
<!--[if lt IE 7 ]><html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js" > <!--<![endif]-->

<head>
    <title>用户登录</title>

</head>
<body>
后续要加入：
1、手机验证码登陆
2、通过微信、qq第三方登陆
3、增加图片验证码
            <form  action="/oauth2/login" method="post">

                        <input type="hidden" name="action"  id="action" value="login"/>


                        <div class="oauth_login_form">
                            <p class="oauth_login_01" >
                                <label class="oauth_input_label">帐号：</label>
                                <input type="text" name="username"   autocomplete="off" tabindex="1" />
                            </p>
                            <p>
                                <label class="oauth_input_label">密码：</label>
                                <input type="password" name="password" autocomplete="off" tabindex="2"/>
                            </p>
                            <input type="submit" value="登陆"/>
                        </div>
            </form>

</body>
</html>