<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmair.oauth.mapper.framedb.A1001Mapper">
  <resultMap id="BaseResultMap" type="com.xmair.oauth.entity.framedb.A1001">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ORGAN_ID" jdbcType="VARCHAR" property="organId" />
    <result column="ORGAN_CODE" jdbcType="VARCHAR" property="organCode" />
    <result column="ORGAN_NAME" jdbcType="VARCHAR" property="organName" />
    <result column="LAYER_CODE" jdbcType="VARCHAR" property="layerCode" />
    <result column="SUPERIOR_ORGAN" jdbcType="VARCHAR" property="superiorOrgan" />
    <result column="MANAGE_ORGAN" jdbcType="VARCHAR" property="manageOrgan" />
    <result column="NAME_JP" jdbcType="VARCHAR" property="nameJp" />
    <result column="SORT_NO" jdbcType="VARCHAR" property="sortNo" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="CHANGED_DATE" jdbcType="TIMESTAMP" property="changedDate" />
    <result column="VIRTUAL_FLAG" jdbcType="CHAR" property="virtualFlag" />
    <result column="FULL_PATH" jdbcType="VARCHAR" property="fullPath" />
  </resultMap>
</mapper>