<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmair.oauth.mapper.framedb.EmpDataMapper">
  <resultMap id="BaseResultMap" type="com.xmair.oauth.entity.framedb.EmpData">
    <id column="MF_ID" jdbcType="VARCHAR" property="mfId" />
    <result column="EMP_TYPE" jdbcType="VARCHAR" property="empType" />
    <result column="TYPEID" jdbcType="VARCHAR" property="typeid" />
    <result column="E0122" jdbcType="VARCHAR" property="e0122" />
    <result column="UNIT_NAME" jdbcType="VARCHAR" property="unitName" />
    <result column="DEP_NAME" jdbcType="VARCHAR" property="depName" />
    <result column="OFFICE_NAME" jdbcType="VARCHAR" property="officeName" />
    <result column="EMP_SID" jdbcType="DECIMAL" property="empSid" />
    <result column="ARCH_ID" jdbcType="VARCHAR" property="archId" />
    <result column="CN_NAME" jdbcType="VARCHAR" property="cnName" />
    <result column="SMPL_NAME" jdbcType="VARCHAR" property="smplName" />
    <result column="FULL_NAME" jdbcType="VARCHAR" property="fullName" />
    <result column="GENDER" jdbcType="VARCHAR" property="gender" />
    <result column="NATIONALITY" jdbcType="VARCHAR" property="nationality" />
    <result column="BIRTHDAY" jdbcType="TIMESTAMP" property="birthday" />
    <result column="AGE" jdbcType="DECIMAL" property="age" />
    <result column="STU_ORIGIN" jdbcType="VARCHAR" property="stuOrigin" />
    <result column="NATIVE_PLACE" jdbcType="VARCHAR" property="nativePlace" />
    <result column="HOUSE_BOOK" jdbcType="VARCHAR" property="houseBook" />
    <result column="HOUSE_BOOOK_TYPE" jdbcType="VARCHAR" property="houseBoookType" />
    <result column="WORK_DATE" jdbcType="TIMESTAMP" property="workDate" />
    <result column="ENTR_MF_DATE" jdbcType="TIMESTAMP" property="entrMfDate" />
    <result column="BONUS_CARD_PLACE" jdbcType="VARCHAR" property="bonusCardPlace" />
    <result column="ENROLL_FROM" jdbcType="VARCHAR" property="enrollFrom" />
    <result column="CATALOG_TYPE" jdbcType="VARCHAR" property="catalogType" />
    <result column="JOB_WAIT_ID" jdbcType="VARCHAR" property="jobWaitId" />
    <result column="ID_CARD" jdbcType="VARCHAR" property="idCard" />
    <result column="QUIT_DATE" jdbcType="TIMESTAMP" property="quitDate" />
    <result column="SPCL_MEMO" jdbcType="VARCHAR" property="spclMemo" />
    <result column="MEMO" jdbcType="VARCHAR" property="memo" />
    <result column="CTRCT_TYPE" jdbcType="VARCHAR" property="ctrctType" />
    <result column="CTRCT_FROM_DATE" jdbcType="TIMESTAMP" property="ctrctFromDate" />
    <result column="CTRCT_EXPR_DATE" jdbcType="TIMESTAMP" property="ctrctExprDate" />
    <result column="ABORNAL_MEMO" jdbcType="VARCHAR" property="abornalMemo" />
    <result column="JOB_TYPE" jdbcType="VARCHAR" property="jobType" />
    <result column="JOB_TIME" jdbcType="VARCHAR" property="jobTime" />
    <result column="CTRCT_PLACE" jdbcType="VARCHAR" property="ctrctPlace" />
    <result column="DIPLOMA_TYPE" jdbcType="VARCHAR" property="diplomaType" />
    <result column="DEGREE" jdbcType="VARCHAR" property="degree" />
    <result column="GRADUATE_DATE" jdbcType="TIMESTAMP" property="graduateDate" />
    <result column="SPCL_ORIENTATION" jdbcType="VARCHAR" property="spclOrientation" />
    <result column="GRADUTE_SCHOOL" jdbcType="VARCHAR" property="graduteSchool" />
    <result column="CERT_NO" jdbcType="VARCHAR" property="certNo" />
    <result column="STUDY_TYPE" jdbcType="VARCHAR" property="studyType" />
    <result column="DUTY_NAME" jdbcType="VARCHAR" property="dutyName" />
    <result column="DUTY_DATE" jdbcType="TIMESTAMP" property="dutyDate" />
    <result column="MGMT_LEVEL" jdbcType="VARCHAR" property="mgmtLevel" />
    <result column="WHEN_IN_DUTY" jdbcType="VARCHAR" property="whenInDuty" />
    <result column="IN_DUTY_DOCNO" jdbcType="VARCHAR" property="inDutyDocno" />
    <result column="DUTY_EXPR_DATE" jdbcType="TIMESTAMP" property="dutyExprDate" />
    <result column="MGMT_LEVEL_NO" jdbcType="VARCHAR" property="mgmtLevelNo" />
    <result column="QA_IN_DUTY" jdbcType="VARCHAR" property="qaInDuty" />
    <result column="PRFTNL_NAME" jdbcType="VARCHAR" property="prftnlName" />
    <result column="PRFTNL_DATE" jdbcType="TIMESTAMP" property="prftnlDate" />
    <result column="PRFTNL_TYPE" jdbcType="VARCHAR" property="prftnlType" />
    <result column="PRFTNL_SERIAL" jdbcType="VARCHAR" property="prftnlSerial" />
    <result column="WORK_POST" jdbcType="VARCHAR" property="workPost" />
    <result column="POST_TYPE" jdbcType="VARCHAR" property="postType" />
    <result column="POST_ID" jdbcType="VARCHAR" property="postId" />
    <result column="PARTY_TYPE" jdbcType="VARCHAR" property="partyType" />
    <result column="PARTY_ENTR_DATE" jdbcType="TIMESTAMP" property="partyEntrDate" />
    <result column="QA_JOB_TYPE" jdbcType="VARCHAR" property="qaJobType" />
    <result column="QA_JOB_LEVEL" jdbcType="VARCHAR" property="qaJobLevel" />
    <result column="QA_DATE" jdbcType="TIMESTAMP" property="qaDate" />
    <result column="RETIRE_DATE" jdbcType="TIMESTAMP" property="retireDate" />
    <result column="RE_WORK_DATE" jdbcType="TIMESTAMP" property="reWorkDate" />
    <result column="CONTACT" jdbcType="VARCHAR" property="contact" />
    <result column="RECRUIT_POST" jdbcType="VARCHAR" property="recruitPost" />
    <result column="ARMS_SPCL" jdbcType="VARCHAR" property="armsSpcl" />
    <result column="PLAN_RPT_DATE" jdbcType="VARCHAR" property="planRptDate" />
    <result column="PLAN_RPT_CITY" jdbcType="VARCHAR" property="planRptCity" />
    <result column="PLAN_RPT_FLT_NO" jdbcType="VARCHAR" property="planRptFltNo" />
    <result column="PLAN_RPT_FLT_DATE" jdbcType="TIMESTAMP" property="planRptFltDate" />
    <result column="PLAN_ID" jdbcType="VARCHAR" property="planId" />
    <result column="RECRUIT_TYPE_MEMO" jdbcType="VARCHAR" property="recruitTypeMemo" />
    <result column="EKP_MAIN" jdbcType="VARCHAR" property="ekpMain" />
    <result column="DORM_ADDR" jdbcType="VARCHAR" property="dormAddr" />
    <result column="RPT_PROGRESS_MEMO" jdbcType="VARCHAR" property="rptProgressMemo" />
    <result column="TRAINING_STATUS" jdbcType="VARCHAR" property="trainingStatus" />
    <result column="POST_ALL" jdbcType="VARCHAR" property="postAll" />
  </resultMap>
  <sql id="Base_Column_List">
    MF_ID, EMP_TYPE, TYPEID, E0122, UNIT_NAME, DEP_NAME, OFFICE_NAME, EMP_SID, ARCH_ID, 
    CN_NAME, SMPL_NAME, FULL_NAME, GENDER, NATIONALITY, BIRTHDAY, AGE, STU_ORIGIN, NATIVE_PLACE, 
    HOUSE_BOOK, HOUSE_BOOOK_TYPE, WORK_DATE, ENTR_MF_DATE, BONUS_CARD_PLACE, ENROLL_FROM, 
    CATALOG_TYPE, JOB_WAIT_ID, ID_CARD, QUIT_DATE, SPCL_MEMO, MEMO, CTRCT_TYPE, CTRCT_FROM_DATE, 
    CTRCT_EXPR_DATE, ABORNAL_MEMO, JOB_TYPE, JOB_TIME, CTRCT_PLACE, DIPLOMA_TYPE, DEGREE, 
    GRADUATE_DATE, SPCL_ORIENTATION, GRADUTE_SCHOOL, CERT_NO, STUDY_TYPE, DUTY_NAME, 
    DUTY_DATE, MGMT_LEVEL, WHEN_IN_DUTY, IN_DUTY_DOCNO, DUTY_EXPR_DATE, MGMT_LEVEL_NO, 
    QA_IN_DUTY, PRFTNL_NAME, PRFTNL_DATE, PRFTNL_TYPE, PRFTNL_SERIAL, WORK_POST, POST_TYPE, 
    POST_ID, PARTY_TYPE, PARTY_ENTR_DATE, QA_JOB_TYPE, QA_JOB_LEVEL, QA_DATE, RETIRE_DATE, 
    RE_WORK_DATE, CONTACT, RECRUIT_POST, ARMS_SPCL, PLAN_RPT_DATE, PLAN_RPT_CITY, PLAN_RPT_FLT_NO, 
    PLAN_RPT_FLT_DATE, PLAN_ID, RECRUIT_TYPE_MEMO, EKP_MAIN, DORM_ADDR, RPT_PROGRESS_MEMO, 
    TRAINING_STATUS, POST_ALL
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_EMP_DATA
    where MF_ID = #{mfId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from TB_EMP_DATA
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB_EMP_DATA
    where MF_ID = #{mfId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xmair.oauth.entity.framedb.EmpData">
    insert into TB_EMP_DATA (MF_ID, EMP_TYPE, TYPEID, 
      E0122, UNIT_NAME, DEP_NAME, 
      OFFICE_NAME, EMP_SID, ARCH_ID, 
      CN_NAME, SMPL_NAME, FULL_NAME, 
      GENDER, NATIONALITY, BIRTHDAY, 
      AGE, STU_ORIGIN, NATIVE_PLACE, 
      HOUSE_BOOK, HOUSE_BOOOK_TYPE, WORK_DATE, 
      ENTR_MF_DATE, BONUS_CARD_PLACE, ENROLL_FROM, 
      CATALOG_TYPE, JOB_WAIT_ID, ID_CARD, 
      QUIT_DATE, SPCL_MEMO, MEMO, 
      CTRCT_TYPE, CTRCT_FROM_DATE, CTRCT_EXPR_DATE, 
      ABORNAL_MEMO, JOB_TYPE, JOB_TIME, 
      CTRCT_PLACE, DIPLOMA_TYPE, DEGREE, 
      GRADUATE_DATE, SPCL_ORIENTATION, GRADUTE_SCHOOL, 
      CERT_NO, STUDY_TYPE, DUTY_NAME, 
      DUTY_DATE, MGMT_LEVEL, WHEN_IN_DUTY, 
      IN_DUTY_DOCNO, DUTY_EXPR_DATE, MGMT_LEVEL_NO, 
      QA_IN_DUTY, PRFTNL_NAME, PRFTNL_DATE, 
      PRFTNL_TYPE, PRFTNL_SERIAL, WORK_POST, 
      POST_TYPE, POST_ID, PARTY_TYPE, 
      PARTY_ENTR_DATE, QA_JOB_TYPE, QA_JOB_LEVEL, 
      QA_DATE, RETIRE_DATE, RE_WORK_DATE, 
      CONTACT, RECRUIT_POST, ARMS_SPCL, 
      PLAN_RPT_DATE, PLAN_RPT_CITY, PLAN_RPT_FLT_NO, 
      PLAN_RPT_FLT_DATE, PLAN_ID, RECRUIT_TYPE_MEMO, 
      EKP_MAIN, DORM_ADDR, RPT_PROGRESS_MEMO, 
      TRAINING_STATUS, POST_ALL)
    values (#{mfId,jdbcType=VARCHAR}, #{empType,jdbcType=VARCHAR}, #{typeid,jdbcType=VARCHAR}, 
      #{e0122,jdbcType=VARCHAR}, #{unitName,jdbcType=VARCHAR}, #{depName,jdbcType=VARCHAR}, 
      #{officeName,jdbcType=VARCHAR}, #{empSid,jdbcType=DECIMAL}, #{archId,jdbcType=VARCHAR}, 
      #{cnName,jdbcType=VARCHAR}, #{smplName,jdbcType=VARCHAR}, #{fullName,jdbcType=VARCHAR}, 
      #{gender,jdbcType=VARCHAR}, #{nationality,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, 
      #{age,jdbcType=DECIMAL}, #{stuOrigin,jdbcType=VARCHAR}, #{nativePlace,jdbcType=VARCHAR}, 
      #{houseBook,jdbcType=VARCHAR}, #{houseBoookType,jdbcType=VARCHAR}, #{workDate,jdbcType=TIMESTAMP}, 
      #{entrMfDate,jdbcType=TIMESTAMP}, #{bonusCardPlace,jdbcType=VARCHAR}, #{enrollFrom,jdbcType=VARCHAR}, 
      #{catalogType,jdbcType=VARCHAR}, #{jobWaitId,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, 
      #{quitDate,jdbcType=TIMESTAMP}, #{spclMemo,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, 
      #{ctrctType,jdbcType=VARCHAR}, #{ctrctFromDate,jdbcType=TIMESTAMP}, #{ctrctExprDate,jdbcType=TIMESTAMP}, 
      #{abornalMemo,jdbcType=VARCHAR}, #{jobType,jdbcType=VARCHAR}, #{jobTime,jdbcType=VARCHAR}, 
      #{ctrctPlace,jdbcType=VARCHAR}, #{diplomaType,jdbcType=VARCHAR}, #{degree,jdbcType=VARCHAR}, 
      #{graduateDate,jdbcType=TIMESTAMP}, #{spclOrientation,jdbcType=VARCHAR}, #{graduteSchool,jdbcType=VARCHAR}, 
      #{certNo,jdbcType=VARCHAR}, #{studyType,jdbcType=VARCHAR}, #{dutyName,jdbcType=VARCHAR}, 
      #{dutyDate,jdbcType=TIMESTAMP}, #{mgmtLevel,jdbcType=VARCHAR}, #{whenInDuty,jdbcType=VARCHAR}, 
      #{inDutyDocno,jdbcType=VARCHAR}, #{dutyExprDate,jdbcType=TIMESTAMP}, #{mgmtLevelNo,jdbcType=VARCHAR}, 
      #{qaInDuty,jdbcType=VARCHAR}, #{prftnlName,jdbcType=VARCHAR}, #{prftnlDate,jdbcType=TIMESTAMP}, 
      #{prftnlType,jdbcType=VARCHAR}, #{prftnlSerial,jdbcType=VARCHAR}, #{workPost,jdbcType=VARCHAR}, 
      #{postType,jdbcType=VARCHAR}, #{postId,jdbcType=VARCHAR}, #{partyType,jdbcType=VARCHAR}, 
      #{partyEntrDate,jdbcType=TIMESTAMP}, #{qaJobType,jdbcType=VARCHAR}, #{qaJobLevel,jdbcType=VARCHAR}, 
      #{qaDate,jdbcType=TIMESTAMP}, #{retireDate,jdbcType=TIMESTAMP}, #{reWorkDate,jdbcType=TIMESTAMP}, 
      #{contact,jdbcType=VARCHAR}, #{recruitPost,jdbcType=VARCHAR}, #{armsSpcl,jdbcType=VARCHAR}, 
      #{planRptDate,jdbcType=VARCHAR}, #{planRptCity,jdbcType=VARCHAR}, #{planRptFltNo,jdbcType=VARCHAR}, 
      #{planRptFltDate,jdbcType=TIMESTAMP}, #{planId,jdbcType=VARCHAR}, #{recruitTypeMemo,jdbcType=VARCHAR}, 
      #{ekpMain,jdbcType=VARCHAR}, #{dormAddr,jdbcType=VARCHAR}, #{rptProgressMemo,jdbcType=VARCHAR}, 
      #{trainingStatus,jdbcType=VARCHAR}, #{postAll,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xmair.oauth.entity.framedb.EmpData">
    insert into TB_EMP_DATA
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mfId != null">
        MF_ID,
      </if>
      <if test="empType != null">
        EMP_TYPE,
      </if>
      <if test="typeid != null">
        TYPEID,
      </if>
      <if test="e0122 != null">
        E0122,
      </if>
      <if test="unitName != null">
        UNIT_NAME,
      </if>
      <if test="depName != null">
        DEP_NAME,
      </if>
      <if test="officeName != null">
        OFFICE_NAME,
      </if>
      <if test="empSid != null">
        EMP_SID,
      </if>
      <if test="archId != null">
        ARCH_ID,
      </if>
      <if test="cnName != null">
        CN_NAME,
      </if>
      <if test="smplName != null">
        SMPL_NAME,
      </if>
      <if test="fullName != null">
        FULL_NAME,
      </if>
      <if test="gender != null">
        GENDER,
      </if>
      <if test="nationality != null">
        NATIONALITY,
      </if>
      <if test="birthday != null">
        BIRTHDAY,
      </if>
      <if test="age != null">
        AGE,
      </if>
      <if test="stuOrigin != null">
        STU_ORIGIN,
      </if>
      <if test="nativePlace != null">
        NATIVE_PLACE,
      </if>
      <if test="houseBook != null">
        HOUSE_BOOK,
      </if>
      <if test="houseBoookType != null">
        HOUSE_BOOOK_TYPE,
      </if>
      <if test="workDate != null">
        WORK_DATE,
      </if>
      <if test="entrMfDate != null">
        ENTR_MF_DATE,
      </if>
      <if test="bonusCardPlace != null">
        BONUS_CARD_PLACE,
      </if>
      <if test="enrollFrom != null">
        ENROLL_FROM,
      </if>
      <if test="catalogType != null">
        CATALOG_TYPE,
      </if>
      <if test="jobWaitId != null">
        JOB_WAIT_ID,
      </if>
      <if test="idCard != null">
        ID_CARD,
      </if>
      <if test="quitDate != null">
        QUIT_DATE,
      </if>
      <if test="spclMemo != null">
        SPCL_MEMO,
      </if>
      <if test="memo != null">
        MEMO,
      </if>
      <if test="ctrctType != null">
        CTRCT_TYPE,
      </if>
      <if test="ctrctFromDate != null">
        CTRCT_FROM_DATE,
      </if>
      <if test="ctrctExprDate != null">
        CTRCT_EXPR_DATE,
      </if>
      <if test="abornalMemo != null">
        ABORNAL_MEMO,
      </if>
      <if test="jobType != null">
        JOB_TYPE,
      </if>
      <if test="jobTime != null">
        JOB_TIME,
      </if>
      <if test="ctrctPlace != null">
        CTRCT_PLACE,
      </if>
      <if test="diplomaType != null">
        DIPLOMA_TYPE,
      </if>
      <if test="degree != null">
        DEGREE,
      </if>
      <if test="graduateDate != null">
        GRADUATE_DATE,
      </if>
      <if test="spclOrientation != null">
        SPCL_ORIENTATION,
      </if>
      <if test="graduteSchool != null">
        GRADUTE_SCHOOL,
      </if>
      <if test="certNo != null">
        CERT_NO,
      </if>
      <if test="studyType != null">
        STUDY_TYPE,
      </if>
      <if test="dutyName != null">
        DUTY_NAME,
      </if>
      <if test="dutyDate != null">
        DUTY_DATE,
      </if>
      <if test="mgmtLevel != null">
        MGMT_LEVEL,
      </if>
      <if test="whenInDuty != null">
        WHEN_IN_DUTY,
      </if>
      <if test="inDutyDocno != null">
        IN_DUTY_DOCNO,
      </if>
      <if test="dutyExprDate != null">
        DUTY_EXPR_DATE,
      </if>
      <if test="mgmtLevelNo != null">
        MGMT_LEVEL_NO,
      </if>
      <if test="qaInDuty != null">
        QA_IN_DUTY,
      </if>
      <if test="prftnlName != null">
        PRFTNL_NAME,
      </if>
      <if test="prftnlDate != null">
        PRFTNL_DATE,
      </if>
      <if test="prftnlType != null">
        PRFTNL_TYPE,
      </if>
      <if test="prftnlSerial != null">
        PRFTNL_SERIAL,
      </if>
      <if test="workPost != null">
        WORK_POST,
      </if>
      <if test="postType != null">
        POST_TYPE,
      </if>
      <if test="postId != null">
        POST_ID,
      </if>
      <if test="partyType != null">
        PARTY_TYPE,
      </if>
      <if test="partyEntrDate != null">
        PARTY_ENTR_DATE,
      </if>
      <if test="qaJobType != null">
        QA_JOB_TYPE,
      </if>
      <if test="qaJobLevel != null">
        QA_JOB_LEVEL,
      </if>
      <if test="qaDate != null">
        QA_DATE,
      </if>
      <if test="retireDate != null">
        RETIRE_DATE,
      </if>
      <if test="reWorkDate != null">
        RE_WORK_DATE,
      </if>
      <if test="contact != null">
        CONTACT,
      </if>
      <if test="recruitPost != null">
        RECRUIT_POST,
      </if>
      <if test="armsSpcl != null">
        ARMS_SPCL,
      </if>
      <if test="planRptDate != null">
        PLAN_RPT_DATE,
      </if>
      <if test="planRptCity != null">
        PLAN_RPT_CITY,
      </if>
      <if test="planRptFltNo != null">
        PLAN_RPT_FLT_NO,
      </if>
      <if test="planRptFltDate != null">
        PLAN_RPT_FLT_DATE,
      </if>
      <if test="planId != null">
        PLAN_ID,
      </if>
      <if test="recruitTypeMemo != null">
        RECRUIT_TYPE_MEMO,
      </if>
      <if test="ekpMain != null">
        EKP_MAIN,
      </if>
      <if test="dormAddr != null">
        DORM_ADDR,
      </if>
      <if test="rptProgressMemo != null">
        RPT_PROGRESS_MEMO,
      </if>
      <if test="trainingStatus != null">
        TRAINING_STATUS,
      </if>
      <if test="postAll != null">
        POST_ALL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mfId != null">
        #{mfId,jdbcType=VARCHAR},
      </if>
      <if test="empType != null">
        #{empType,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null">
        #{typeid,jdbcType=VARCHAR},
      </if>
      <if test="e0122 != null">
        #{e0122,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null">
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="depName != null">
        #{depName,jdbcType=VARCHAR},
      </if>
      <if test="officeName != null">
        #{officeName,jdbcType=VARCHAR},
      </if>
      <if test="empSid != null">
        #{empSid,jdbcType=DECIMAL},
      </if>
      <if test="archId != null">
        #{archId,jdbcType=VARCHAR},
      </if>
      <if test="cnName != null">
        #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="smplName != null">
        #{smplName,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null">
        #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="nationality != null">
        #{nationality,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="age != null">
        #{age,jdbcType=DECIMAL},
      </if>
      <if test="stuOrigin != null">
        #{stuOrigin,jdbcType=VARCHAR},
      </if>
      <if test="nativePlace != null">
        #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="houseBook != null">
        #{houseBook,jdbcType=VARCHAR},
      </if>
      <if test="houseBoookType != null">
        #{houseBoookType,jdbcType=VARCHAR},
      </if>
      <if test="workDate != null">
        #{workDate,jdbcType=TIMESTAMP},
      </if>
      <if test="entrMfDate != null">
        #{entrMfDate,jdbcType=TIMESTAMP},
      </if>
      <if test="bonusCardPlace != null">
        #{bonusCardPlace,jdbcType=VARCHAR},
      </if>
      <if test="enrollFrom != null">
        #{enrollFrom,jdbcType=VARCHAR},
      </if>
      <if test="catalogType != null">
        #{catalogType,jdbcType=VARCHAR},
      </if>
      <if test="jobWaitId != null">
        #{jobWaitId,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="quitDate != null">
        #{quitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="spclMemo != null">
        #{spclMemo,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="ctrctType != null">
        #{ctrctType,jdbcType=VARCHAR},
      </if>
      <if test="ctrctFromDate != null">
        #{ctrctFromDate,jdbcType=TIMESTAMP},
      </if>
      <if test="ctrctExprDate != null">
        #{ctrctExprDate,jdbcType=TIMESTAMP},
      </if>
      <if test="abornalMemo != null">
        #{abornalMemo,jdbcType=VARCHAR},
      </if>
      <if test="jobType != null">
        #{jobType,jdbcType=VARCHAR},
      </if>
      <if test="jobTime != null">
        #{jobTime,jdbcType=VARCHAR},
      </if>
      <if test="ctrctPlace != null">
        #{ctrctPlace,jdbcType=VARCHAR},
      </if>
      <if test="diplomaType != null">
        #{diplomaType,jdbcType=VARCHAR},
      </if>
      <if test="degree != null">
        #{degree,jdbcType=VARCHAR},
      </if>
      <if test="graduateDate != null">
        #{graduateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="spclOrientation != null">
        #{spclOrientation,jdbcType=VARCHAR},
      </if>
      <if test="graduteSchool != null">
        #{graduteSchool,jdbcType=VARCHAR},
      </if>
      <if test="certNo != null">
        #{certNo,jdbcType=VARCHAR},
      </if>
      <if test="studyType != null">
        #{studyType,jdbcType=VARCHAR},
      </if>
      <if test="dutyName != null">
        #{dutyName,jdbcType=VARCHAR},
      </if>
      <if test="dutyDate != null">
        #{dutyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mgmtLevel != null">
        #{mgmtLevel,jdbcType=VARCHAR},
      </if>
      <if test="whenInDuty != null">
        #{whenInDuty,jdbcType=VARCHAR},
      </if>
      <if test="inDutyDocno != null">
        #{inDutyDocno,jdbcType=VARCHAR},
      </if>
      <if test="dutyExprDate != null">
        #{dutyExprDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mgmtLevelNo != null">
        #{mgmtLevelNo,jdbcType=VARCHAR},
      </if>
      <if test="qaInDuty != null">
        #{qaInDuty,jdbcType=VARCHAR},
      </if>
      <if test="prftnlName != null">
        #{prftnlName,jdbcType=VARCHAR},
      </if>
      <if test="prftnlDate != null">
        #{prftnlDate,jdbcType=TIMESTAMP},
      </if>
      <if test="prftnlType != null">
        #{prftnlType,jdbcType=VARCHAR},
      </if>
      <if test="prftnlSerial != null">
        #{prftnlSerial,jdbcType=VARCHAR},
      </if>
      <if test="workPost != null">
        #{workPost,jdbcType=VARCHAR},
      </if>
      <if test="postType != null">
        #{postType,jdbcType=VARCHAR},
      </if>
      <if test="postId != null">
        #{postId,jdbcType=VARCHAR},
      </if>
      <if test="partyType != null">
        #{partyType,jdbcType=VARCHAR},
      </if>
      <if test="partyEntrDate != null">
        #{partyEntrDate,jdbcType=TIMESTAMP},
      </if>
      <if test="qaJobType != null">
        #{qaJobType,jdbcType=VARCHAR},
      </if>
      <if test="qaJobLevel != null">
        #{qaJobLevel,jdbcType=VARCHAR},
      </if>
      <if test="qaDate != null">
        #{qaDate,jdbcType=TIMESTAMP},
      </if>
      <if test="retireDate != null">
        #{retireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="reWorkDate != null">
        #{reWorkDate,jdbcType=TIMESTAMP},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="recruitPost != null">
        #{recruitPost,jdbcType=VARCHAR},
      </if>
      <if test="armsSpcl != null">
        #{armsSpcl,jdbcType=VARCHAR},
      </if>
      <if test="planRptDate != null">
        #{planRptDate,jdbcType=VARCHAR},
      </if>
      <if test="planRptCity != null">
        #{planRptCity,jdbcType=VARCHAR},
      </if>
      <if test="planRptFltNo != null">
        #{planRptFltNo,jdbcType=VARCHAR},
      </if>
      <if test="planRptFltDate != null">
        #{planRptFltDate,jdbcType=TIMESTAMP},
      </if>
      <if test="planId != null">
        #{planId,jdbcType=VARCHAR},
      </if>
      <if test="recruitTypeMemo != null">
        #{recruitTypeMemo,jdbcType=VARCHAR},
      </if>
      <if test="ekpMain != null">
        #{ekpMain,jdbcType=VARCHAR},
      </if>
      <if test="dormAddr != null">
        #{dormAddr,jdbcType=VARCHAR},
      </if>
      <if test="rptProgressMemo != null">
        #{rptProgressMemo,jdbcType=VARCHAR},
      </if>
      <if test="trainingStatus != null">
        #{trainingStatus,jdbcType=VARCHAR},
      </if>
      <if test="postAll != null">
        #{postAll,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xmair.oauth.entity.framedb.EmpData">
    update TB_EMP_DATA
    <set>
      <if test="empType != null">
        EMP_TYPE = #{empType,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null">
        TYPEID = #{typeid,jdbcType=VARCHAR},
      </if>
      <if test="e0122 != null">
        E0122 = #{e0122,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null">
        UNIT_NAME = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="depName != null">
        DEP_NAME = #{depName,jdbcType=VARCHAR},
      </if>
      <if test="officeName != null">
        OFFICE_NAME = #{officeName,jdbcType=VARCHAR},
      </if>
      <if test="empSid != null">
        EMP_SID = #{empSid,jdbcType=DECIMAL},
      </if>
      <if test="archId != null">
        ARCH_ID = #{archId,jdbcType=VARCHAR},
      </if>
      <if test="cnName != null">
        CN_NAME = #{cnName,jdbcType=VARCHAR},
      </if>
      <if test="smplName != null">
        SMPL_NAME = #{smplName,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null">
        FULL_NAME = #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        GENDER = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="nationality != null">
        NATIONALITY = #{nationality,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        BIRTHDAY = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="age != null">
        AGE = #{age,jdbcType=DECIMAL},
      </if>
      <if test="stuOrigin != null">
        STU_ORIGIN = #{stuOrigin,jdbcType=VARCHAR},
      </if>
      <if test="nativePlace != null">
        NATIVE_PLACE = #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="houseBook != null">
        HOUSE_BOOK = #{houseBook,jdbcType=VARCHAR},
      </if>
      <if test="houseBoookType != null">
        HOUSE_BOOOK_TYPE = #{houseBoookType,jdbcType=VARCHAR},
      </if>
      <if test="workDate != null">
        WORK_DATE = #{workDate,jdbcType=TIMESTAMP},
      </if>
      <if test="entrMfDate != null">
        ENTR_MF_DATE = #{entrMfDate,jdbcType=TIMESTAMP},
      </if>
      <if test="bonusCardPlace != null">
        BONUS_CARD_PLACE = #{bonusCardPlace,jdbcType=VARCHAR},
      </if>
      <if test="enrollFrom != null">
        ENROLL_FROM = #{enrollFrom,jdbcType=VARCHAR},
      </if>
      <if test="catalogType != null">
        CATALOG_TYPE = #{catalogType,jdbcType=VARCHAR},
      </if>
      <if test="jobWaitId != null">
        JOB_WAIT_ID = #{jobWaitId,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        ID_CARD = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="quitDate != null">
        QUIT_DATE = #{quitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="spclMemo != null">
        SPCL_MEMO = #{spclMemo,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="ctrctType != null">
        CTRCT_TYPE = #{ctrctType,jdbcType=VARCHAR},
      </if>
      <if test="ctrctFromDate != null">
        CTRCT_FROM_DATE = #{ctrctFromDate,jdbcType=TIMESTAMP},
      </if>
      <if test="ctrctExprDate != null">
        CTRCT_EXPR_DATE = #{ctrctExprDate,jdbcType=TIMESTAMP},
      </if>
      <if test="abornalMemo != null">
        ABORNAL_MEMO = #{abornalMemo,jdbcType=VARCHAR},
      </if>
      <if test="jobType != null">
        JOB_TYPE = #{jobType,jdbcType=VARCHAR},
      </if>
      <if test="jobTime != null">
        JOB_TIME = #{jobTime,jdbcType=VARCHAR},
      </if>
      <if test="ctrctPlace != null">
        CTRCT_PLACE = #{ctrctPlace,jdbcType=VARCHAR},
      </if>
      <if test="diplomaType != null">
        DIPLOMA_TYPE = #{diplomaType,jdbcType=VARCHAR},
      </if>
      <if test="degree != null">
        DEGREE = #{degree,jdbcType=VARCHAR},
      </if>
      <if test="graduateDate != null">
        GRADUATE_DATE = #{graduateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="spclOrientation != null">
        SPCL_ORIENTATION = #{spclOrientation,jdbcType=VARCHAR},
      </if>
      <if test="graduteSchool != null">
        GRADUTE_SCHOOL = #{graduteSchool,jdbcType=VARCHAR},
      </if>
      <if test="certNo != null">
        CERT_NO = #{certNo,jdbcType=VARCHAR},
      </if>
      <if test="studyType != null">
        STUDY_TYPE = #{studyType,jdbcType=VARCHAR},
      </if>
      <if test="dutyName != null">
        DUTY_NAME = #{dutyName,jdbcType=VARCHAR},
      </if>
      <if test="dutyDate != null">
        DUTY_DATE = #{dutyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mgmtLevel != null">
        MGMT_LEVEL = #{mgmtLevel,jdbcType=VARCHAR},
      </if>
      <if test="whenInDuty != null">
        WHEN_IN_DUTY = #{whenInDuty,jdbcType=VARCHAR},
      </if>
      <if test="inDutyDocno != null">
        IN_DUTY_DOCNO = #{inDutyDocno,jdbcType=VARCHAR},
      </if>
      <if test="dutyExprDate != null">
        DUTY_EXPR_DATE = #{dutyExprDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mgmtLevelNo != null">
        MGMT_LEVEL_NO = #{mgmtLevelNo,jdbcType=VARCHAR},
      </if>
      <if test="qaInDuty != null">
        QA_IN_DUTY = #{qaInDuty,jdbcType=VARCHAR},
      </if>
      <if test="prftnlName != null">
        PRFTNL_NAME = #{prftnlName,jdbcType=VARCHAR},
      </if>
      <if test="prftnlDate != null">
        PRFTNL_DATE = #{prftnlDate,jdbcType=TIMESTAMP},
      </if>
      <if test="prftnlType != null">
        PRFTNL_TYPE = #{prftnlType,jdbcType=VARCHAR},
      </if>
      <if test="prftnlSerial != null">
        PRFTNL_SERIAL = #{prftnlSerial,jdbcType=VARCHAR},
      </if>
      <if test="workPost != null">
        WORK_POST = #{workPost,jdbcType=VARCHAR},
      </if>
      <if test="postType != null">
        POST_TYPE = #{postType,jdbcType=VARCHAR},
      </if>
      <if test="postId != null">
        POST_ID = #{postId,jdbcType=VARCHAR},
      </if>
      <if test="partyType != null">
        PARTY_TYPE = #{partyType,jdbcType=VARCHAR},
      </if>
      <if test="partyEntrDate != null">
        PARTY_ENTR_DATE = #{partyEntrDate,jdbcType=TIMESTAMP},
      </if>
      <if test="qaJobType != null">
        QA_JOB_TYPE = #{qaJobType,jdbcType=VARCHAR},
      </if>
      <if test="qaJobLevel != null">
        QA_JOB_LEVEL = #{qaJobLevel,jdbcType=VARCHAR},
      </if>
      <if test="qaDate != null">
        QA_DATE = #{qaDate,jdbcType=TIMESTAMP},
      </if>
      <if test="retireDate != null">
        RETIRE_DATE = #{retireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="reWorkDate != null">
        RE_WORK_DATE = #{reWorkDate,jdbcType=TIMESTAMP},
      </if>
      <if test="contact != null">
        CONTACT = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="recruitPost != null">
        RECRUIT_POST = #{recruitPost,jdbcType=VARCHAR},
      </if>
      <if test="armsSpcl != null">
        ARMS_SPCL = #{armsSpcl,jdbcType=VARCHAR},
      </if>
      <if test="planRptDate != null">
        PLAN_RPT_DATE = #{planRptDate,jdbcType=VARCHAR},
      </if>
      <if test="planRptCity != null">
        PLAN_RPT_CITY = #{planRptCity,jdbcType=VARCHAR},
      </if>
      <if test="planRptFltNo != null">
        PLAN_RPT_FLT_NO = #{planRptFltNo,jdbcType=VARCHAR},
      </if>
      <if test="planRptFltDate != null">
        PLAN_RPT_FLT_DATE = #{planRptFltDate,jdbcType=TIMESTAMP},
      </if>
      <if test="planId != null">
        PLAN_ID = #{planId,jdbcType=VARCHAR},
      </if>
      <if test="recruitTypeMemo != null">
        RECRUIT_TYPE_MEMO = #{recruitTypeMemo,jdbcType=VARCHAR},
      </if>
      <if test="ekpMain != null">
        EKP_MAIN = #{ekpMain,jdbcType=VARCHAR},
      </if>
      <if test="dormAddr != null">
        DORM_ADDR = #{dormAddr,jdbcType=VARCHAR},
      </if>
      <if test="rptProgressMemo != null">
        RPT_PROGRESS_MEMO = #{rptProgressMemo,jdbcType=VARCHAR},
      </if>
      <if test="trainingStatus != null">
        TRAINING_STATUS = #{trainingStatus,jdbcType=VARCHAR},
      </if>
      <if test="postAll != null">
        POST_ALL = #{postAll,jdbcType=VARCHAR},
      </if>
    </set>
    where MF_ID = #{mfId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xmair.oauth.entity.framedb.EmpData">
    update TB_EMP_DATA
    set EMP_TYPE = #{empType,jdbcType=VARCHAR},
      TYPEID = #{typeid,jdbcType=VARCHAR},
      E0122 = #{e0122,jdbcType=VARCHAR},
      UNIT_NAME = #{unitName,jdbcType=VARCHAR},
      DEP_NAME = #{depName,jdbcType=VARCHAR},
      OFFICE_NAME = #{officeName,jdbcType=VARCHAR},
      EMP_SID = #{empSid,jdbcType=DECIMAL},
      ARCH_ID = #{archId,jdbcType=VARCHAR},
      CN_NAME = #{cnName,jdbcType=VARCHAR},
      SMPL_NAME = #{smplName,jdbcType=VARCHAR},
      FULL_NAME = #{fullName,jdbcType=VARCHAR},
      GENDER = #{gender,jdbcType=VARCHAR},
      NATIONALITY = #{nationality,jdbcType=VARCHAR},
      BIRTHDAY = #{birthday,jdbcType=TIMESTAMP},
      AGE = #{age,jdbcType=DECIMAL},
      STU_ORIGIN = #{stuOrigin,jdbcType=VARCHAR},
      NATIVE_PLACE = #{nativePlace,jdbcType=VARCHAR},
      HOUSE_BOOK = #{houseBook,jdbcType=VARCHAR},
      HOUSE_BOOOK_TYPE = #{houseBoookType,jdbcType=VARCHAR},
      WORK_DATE = #{workDate,jdbcType=TIMESTAMP},
      ENTR_MF_DATE = #{entrMfDate,jdbcType=TIMESTAMP},
      BONUS_CARD_PLACE = #{bonusCardPlace,jdbcType=VARCHAR},
      ENROLL_FROM = #{enrollFrom,jdbcType=VARCHAR},
      CATALOG_TYPE = #{catalogType,jdbcType=VARCHAR},
      JOB_WAIT_ID = #{jobWaitId,jdbcType=VARCHAR},
      ID_CARD = #{idCard,jdbcType=VARCHAR},
      QUIT_DATE = #{quitDate,jdbcType=TIMESTAMP},
      SPCL_MEMO = #{spclMemo,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR},
      CTRCT_TYPE = #{ctrctType,jdbcType=VARCHAR},
      CTRCT_FROM_DATE = #{ctrctFromDate,jdbcType=TIMESTAMP},
      CTRCT_EXPR_DATE = #{ctrctExprDate,jdbcType=TIMESTAMP},
      ABORNAL_MEMO = #{abornalMemo,jdbcType=VARCHAR},
      JOB_TYPE = #{jobType,jdbcType=VARCHAR},
      JOB_TIME = #{jobTime,jdbcType=VARCHAR},
      CTRCT_PLACE = #{ctrctPlace,jdbcType=VARCHAR},
      DIPLOMA_TYPE = #{diplomaType,jdbcType=VARCHAR},
      DEGREE = #{degree,jdbcType=VARCHAR},
      GRADUATE_DATE = #{graduateDate,jdbcType=TIMESTAMP},
      SPCL_ORIENTATION = #{spclOrientation,jdbcType=VARCHAR},
      GRADUTE_SCHOOL = #{graduteSchool,jdbcType=VARCHAR},
      CERT_NO = #{certNo,jdbcType=VARCHAR},
      STUDY_TYPE = #{studyType,jdbcType=VARCHAR},
      DUTY_NAME = #{dutyName,jdbcType=VARCHAR},
      DUTY_DATE = #{dutyDate,jdbcType=TIMESTAMP},
      MGMT_LEVEL = #{mgmtLevel,jdbcType=VARCHAR},
      WHEN_IN_DUTY = #{whenInDuty,jdbcType=VARCHAR},
      IN_DUTY_DOCNO = #{inDutyDocno,jdbcType=VARCHAR},
      DUTY_EXPR_DATE = #{dutyExprDate,jdbcType=TIMESTAMP},
      MGMT_LEVEL_NO = #{mgmtLevelNo,jdbcType=VARCHAR},
      QA_IN_DUTY = #{qaInDuty,jdbcType=VARCHAR},
      PRFTNL_NAME = #{prftnlName,jdbcType=VARCHAR},
      PRFTNL_DATE = #{prftnlDate,jdbcType=TIMESTAMP},
      PRFTNL_TYPE = #{prftnlType,jdbcType=VARCHAR},
      PRFTNL_SERIAL = #{prftnlSerial,jdbcType=VARCHAR},
      WORK_POST = #{workPost,jdbcType=VARCHAR},
      POST_TYPE = #{postType,jdbcType=VARCHAR},
      POST_ID = #{postId,jdbcType=VARCHAR},
      PARTY_TYPE = #{partyType,jdbcType=VARCHAR},
      PARTY_ENTR_DATE = #{partyEntrDate,jdbcType=TIMESTAMP},
      QA_JOB_TYPE = #{qaJobType,jdbcType=VARCHAR},
      QA_JOB_LEVEL = #{qaJobLevel,jdbcType=VARCHAR},
      QA_DATE = #{qaDate,jdbcType=TIMESTAMP},
      RETIRE_DATE = #{retireDate,jdbcType=TIMESTAMP},
      RE_WORK_DATE = #{reWorkDate,jdbcType=TIMESTAMP},
      CONTACT = #{contact,jdbcType=VARCHAR},
      RECRUIT_POST = #{recruitPost,jdbcType=VARCHAR},
      ARMS_SPCL = #{armsSpcl,jdbcType=VARCHAR},
      PLAN_RPT_DATE = #{planRptDate,jdbcType=VARCHAR},
      PLAN_RPT_CITY = #{planRptCity,jdbcType=VARCHAR},
      PLAN_RPT_FLT_NO = #{planRptFltNo,jdbcType=VARCHAR},
      PLAN_RPT_FLT_DATE = #{planRptFltDate,jdbcType=TIMESTAMP},
      PLAN_ID = #{planId,jdbcType=VARCHAR},
      RECRUIT_TYPE_MEMO = #{recruitTypeMemo,jdbcType=VARCHAR},
      EKP_MAIN = #{ekpMain,jdbcType=VARCHAR},
      DORM_ADDR = #{dormAddr,jdbcType=VARCHAR},
      RPT_PROGRESS_MEMO = #{rptProgressMemo,jdbcType=VARCHAR},
      TRAINING_STATUS = #{trainingStatus,jdbcType=VARCHAR},
      POST_ALL = #{postAll,jdbcType=VARCHAR}
    where MF_ID = #{mfId,jdbcType=VARCHAR}
  </update>
</mapper>