<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>登陆页面</title>

<link rel="stylesheet" href="../static/css/jq22.css"  th:href="@{/css/jq22.css}"  />
    <script src="../../static/jquery.min.js"></script>
</head>
<body> <form  action="/login/do" method="post">

    <input type="hidden" name="action"  id="action" value="login"/>


    <div class="oauth_login_form">
        <p class="oauth_login_01" >
            <label class="oauth_input_label">帐号：</label>
            <input type="text" name="username"   autocomplete="off" tabindex="1" />
        </p>
        <p>
            <label class="oauth_input_label">密码：</label>
            <input type="password" name="password" autocomplete="off" tabindex="2"/>
        </p>
        <input type="submit" value="登陆"/>
    </div>
</form>

</body>
</html>